<!DOCTYPE html>                                                                                                     
<html lang="en">  
  
   <head>  
     <meta charset="utf-8"> 
     <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
     <meta name="viewport" content="width=device-width, initial-scale=1"> 
     <meta name="description" content="Play your favorite video games for cash and prizes! On PS4, Xbox, PC, and Nintendo Switch! Coming Soon."> 
	 <title> Prodigy Gaming | Coming Soon </title>    
  	 <link href="CSS/index.css" rel="stylesheet"> 
	 <link href="CSS/animation.css" rel="stylesheet"> 
	 <link href="CSS/mobile.css" rel="stylesheet"> 
	 <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:100,300,400,500" rel="stylesheet"> 
	 <link rel="icon" type="image/png" href="Assets/Icons/favicon.ico"> 
   </head> 
    
   <body> 

    <%- content %>

     <!------------------- SCRIPTS ---------------------> 
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
   <script src="JS/typewriter.js"></script>   
   <script src="JS/index.js"></script> 
   </div> 
   </body> 
   
</html>  
