<!DOCTYPE html>                                                                                                                                                                                                                   
<html lang="en">           
   
   <head>  
     <meta charset="utf-8"> 
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">
	 <meta name="format-detection" content="telephone=no">
     <meta name="description" content="Play your favorite video games for cash and prizes! On PS4, Xbox, PC, and Nintendo Switch! Coming Soon."> 
	 <title> Prodigy Gaming | Blog </title> 
     <link href="/CSS/Blog/index.css" rel="stylesheet"> 
	 <link href="/CSS/Blog/mobile.css" rel="stylesheet"> 
	 <link href="/CSS/Blog/animations.css" rel="stylesheet"> 
	 <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700|Crimson+Text|Fira+Sans+Condensed:300" rel="stylesheet">
	 <link rel="icon" type="image/png" href="/Assets/Icons/favicon.ico">
   </head>  
   

   <%- content %>
   
            
 
   <!------------------- SCRIPTS ---------------------> 
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>    
   <script src="/JS/blog.js"></script>    
   </body> 
  
</html>  