---
layout: blog_base.ejs
---

 <!------------------- PRELOAD ---------------------> 
 <div id="Preloader"> 
    <div id="LogoWrapper">
       <img src="Assets/Icons/logo.png"> 
    </div> 
 </div>








 <!------------------- NAVIGATE ----------------->  
 <div id="Navigate"></div>
 
 <div id="LoaderContainer">
    <div id="LoaderInner">
       <div id="SpinnerOne" class="spin"></div>
       <div id="SpinnerTwo" class="spin"></div>
       <div id="SpinnerThree" class="spin"></div> 
       <div id="SpinnerFour" class="spin"></div> 
    </div>	  
 </div>
 
 <div id="NavigateOverlay"></div>








 <!------------------- WELCOME SECTION --------------------->      
 <div id="WelcomeSection">           
    <canvas id="WelcomeParticles"></canvas>    
    <img src="../Assets/Images/Blog/curve.png">   
 </div>







    
 <!------------------- DIVIDER SECTION -------------------->   
 <div class="vertical-divider">      
    <div class="divider parallax-element height down opacityShow"></div> 
 </div>
     
 
 
 
 <% var i = 0; %>
 
 <!------------------- BLOG SECTION -------------------->   

<% if (i < articles.length) { %>
 <div id="BlogSection">                 
 
    <div class="row one">      
       <div class="blog-el one square-small top left border-bottom border-right animation1 ae-up ae-fadein">
          <div class="blog-innerel image parallax-element up" data-distance="50"></div>  
          <div class="blog-innerel overlay">  
             <h1 class="tag tips"> TIPS </h1>   
             <div class="content">
                <div class="author">
                   <div class="headshot"></div>
                   <div class="info">
                      <h1> NAME </h1> 
                      <h2> DATE </h2> 
                   </div> 
                </div>
                <h1 class="title"> title </h1>  
             </div> 
          </div>  
          <div class="animation-element up-trigger" data-num="1"></div> 
       </div> 
<% i++; %>
<% } %>
<% if (i < articles.length) { %>

       <div class="blog-el two square-small bottom left border-top border-right animation2 ae-up ae-fadein">
          <div class="blog-innerel image parallax-element up" data-distance="50"></div>  
          <div class="blog-innerel overlay">  
             <h1 class="tag press"> PRESS </h1>   
             <div class="content">
                <div class="author">
                   <div class="headshot"></div>
                   <div class="info">
                      <h1> NAME </h1> 
                      <h2> DATE </h2> 
                   </div> 
                </div>
                <h1 class="title"> title </h1>  
             </div> 
          </div>
          <div class="animation-element up-trigger" data-num="2"></div>  			
       </div>  
<% i++; %>
<% } %>
<% if (i < articles.length) { %>
       <div class="blog-el three square-large center border-right border-left animation3 ae-up ae-fadein"> 
          <div class="blog-innerel image parallax-element up" data-distance="50"></div>  
          <div class="blog-innerel overlay">  
             <h1 class="tag product"> PRODUCT </h1>   
             <div class="content">
                <div class="author">
                   <div class="headshot"></div>
                   <div class="info">
                      <h1> NAME </h1> 
                      <h2> DATE </h2> 
                   </div> 
                </div>
                <h1 class="title"> title </h1>  
             </div> 
          </div>
          <div class="animation-element up-trigger" data-num="3"></div>  			
       </div>
<% i++; %>   
<% } %>
<% if (i < articles.length) %>
       <div class="blog-el four rect-vert top right border-left animation4 ae-up ae-fadein"> 
          <div class="blog-innerel image parallax-element up" data-distance="50"></div>  
          <div class="blog-innerel overlay">  
             <h1 class="tag news"> NEWS </h1>    
             <div class="content">
                <div class="author">
                   <div class="headshot"></div>
                   <div class="info">
                      <h1> NAME </h1> 
                      <h2> DATE </h2> 
                   </div> 
                </div>
                <h1 class="title"> title </h1>  
             </div> 
          </div>
          <div class="animation-element up-trigger" data-num="4"></div>  			
       </div>     
    </div> 
 
    <div class="vertical-divider">      
       <div class="divider parallax-element height down opacityShow"></div> 
    </div>
<% i++; %>
<% } %>
<% if (i < articles.length) { %> 
    <div class="row two">
       <div class="blog-el one square-large top left border-right animation5 ae-up ae-fadein">
          <div class="blog-innerel image parallax-element right" data-distance="50"></div>   
          <div class="blog-innerel overlay">  
             <h1 class="tag press"> PRESS </h1>   
             <div class="content">
                <div class="author">
                   <div class="headshot"></div>
                   <div class="info">
                      <h1> NAME </h1> 
                      <h2> DATE </h2> 
                   </div> 
                </div>
                <h1 class="title"> title </h1>  
             </div> 
          </div>  
          <div class="animation-element up-trigger" data-num="5"></div> 
       </div> 
<% i++; %>
<% } %>
<% if (i < articles.length) { %>
       <div class="blog-el two rect-hor top right border-bottom border-left animation6 ae-up ae-fadein">
          <div class="blog-innerel image parallax-element right" data-distance="50"></div>  
          <div class="blog-innerel overlay">  
             <h1 class="tag press"> PRESS </h1>   
             <div class="content">
                <div class="author">
                   <div class="headshot"></div>
                   <div class="info">
                      <h1> NAME </h1> 
                      <h2> DATE </h2> 
                   </div> 
                </div>
                <h1 class="title"> title </h1>  
             </div> 
          </div>
          <div class="animation-element up-trigger" data-num="6"></div>  			
       </div>   
<% i++; %>
<% } %>
<% if (i < articles.length) { %>
       <div class="blog-el three square-small bottom right border-top border-left animation7 ae-up ae-fadein">
          <div class="blog-innerel image parallax-element right" data-distance="50"></div>   
          <div class="blog-innerel overlay">  
             <h1 class="tag product"> PRODUCT </h1>   
             <div class="content">
                <div class="author">
                   <div class="headshot"></div>
                   <div class="info">
                      <h1> NAME </h1> 
                      <h2> DATE </h2> 
                   </div> 
                </div>
                <h1 class="title"> title </h1>  
             </div> 
          </div>  
          <div class="animation-element up-trigger" data-num="7"></div> 
       </div>
<% i++; %>
<% } %>
<% if (i < articles.length) { %>
       <div class="blog-el four square-small bottom righthalf border-top border-right border-left animation8 ae-up ae-fadein">
          <div class="blog-innerel image parallax-element right" data-distance="50"></div>   
          <div class="blog-innerel overlay">  
             <h1 class="tag news"> NEWS </h1>   
             <div class="content">
                <div class="author">
                   <div class="headshot"></div>
                   <div class="info">
                      <h1> NAME </h1> 
                      <h2> DATE </h2> 
                   </div> 
                </div>
                <h1 class="title"> title </h1>  
             </div> 
          </div>
          <div class="animation-element up-trigger" data-num="8"></div>  			
       </div>   
    </div>  
<% i++; %>
<% } %>
    <div class="vertical-divider">      
       <div class="divider parallax-element height down opacityShow"></div> 
    </div>
<% if (i < articles.length) { %>
    <div class="row three">      
       <div class="blog-el one rect-hor top left border-bottom border-right animation9 ae-up ae-fadein">
          <div class="blog-innerel image parallax-element left" data-distance="50"></div>   
          <div class="blog-innerel overlay">  
             <h1 class="tag news"> NEWS </h1>   
             <div class="content">
                <div class="author">
                   <div class="headshot"></div>
                   <div class="info">
                      <h1> NAME </h1> 
                      <h2> DATE </h2> 
                   </div> 
                </div>
                <h1 class="title"> title </h1>  
             </div> 
          </div>  
          <div class="animation-element up-trigger" data-num="9"></div> 
       </div>  
<% i++; %>
<% } %>
<% if (i < articles.length) { %>
       <div class="blog-el two rect-hor bottom left border-top border-right animation10 ae-up ae-fadein">
          <div class="blog-innerel image parallax-element left" data-distance="50"></div>   
          <div class="blog-innerel overlay">  
             <h1 class="tag news"> NEWS </h1>   
             <div class="content">
                <div class="author">
                   <div class="headshot"></div>
                   <div class="info">
                      <h1> NAME </h1> 
                      <h2> DATE </h2> 
                   </div> 
                </div>
                <h1 class="title"> title </h1>  
             </div> 
          </div>
          <div class="animation-element up-trigger" data-num="10"></div>  			
       </div>  
<% i++; %>
<% } %>
<% if (i < articles.length) { %>
       <div class="blog-el three rect-vert top right border-left animation11 ae-up ae-fadein">
          <div class="blog-innerel image parallax-element left" data-distance="50"></div>   
          <div class="blog-innerel overlay">  
             <h1 class="tag tips"> TIPS </h1>   
             <div class="content">
                <div class="author">
                   <div class="headshot"></div>
                   <div class="info">
                      <h1> NAME </h1> 
                      <h2> DATE </h2> 
                   </div> 
                </div>
                <h1 class="title"> title </h1>  
             </div> 
          </div>  
          <div class="animation-element up-trigger" data-num="11"></div> 
       </div>
<% i++; %>
<% } %>
<% if (i < articles.length) { %>
       <div class="blog-el four rect-vert bottom righthalf border-right border-left animation12 ae-up ae-fadein">
          <div class="blog-innerel image parallax-element left" data-distance="50"></div>   
          <div class="blog-innerel overlay">  
             <h1 class="tag product"> PRODUCT </h1>    
             <div class="content">
                <div class="author">
                   <div class="headshot"></div>
                   <div class="info">
                      <h1> NAME </h1> 
                      <h2> DATE </h2> 
                   </div> 
                </div>
                <h1 class="title"> title </h1>  
             </div> 
          </div>
          <div class="animation-element up-trigger" data-num="12"></div>  			
       </div>   		 
    </div>  
    
 </div>
<% i++; %>
 <% } %>
